@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:wght@400;700&display=swap');

body{
    font-family: 'lato' sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 300px;
    margin: 0 550px;

}

header img {
    float: left;
}

header h1{
    position: relative;
    top:10px;
    left: 10px;    
}

nav{
    width: 300px;
    margin: 0 550px;
    padding: 20px 0;
    text-align: center;

}
nav a{
    color: #000;
    margin: 20px;
    text-decoration: none;
}


main{
    width: 750px;
    margin: 40px 370px;
}

section{
    width: 500px;
    height: auto;
    margin: 40px 100px;
    padding: 20px;
    background-color: #f6f6f9;
    border-radius: 20px;
}

section h2{
    font-size: 19px;
}

#inputNovaTarefa{
    font-family: 'lato', sans-serif;
    padding: 0 10px;
    height: 40px;
    width: 375px;
    border: 1px solid #0ccbde;
    border-radius: 5px;

}

#btnNovaTarefa{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    margin: 0 25px;
    background-color: #0ccbde;
    color: #f6f6f9;
}

#btnNovaTarefa :hover{
    transform:  scale(1.1);

}

#listaDeTarefa ul{
    margin: 0;
    padding: 0;

}

#listaDetarefas li{
    list-style: none;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;

}

#listaDeTarefas li:hover{
    color: #000;
    background-color: #f6f6f9;
}

.aberta{
    text-decoration: none;
}

.concluida{
    text-decoration: line-through;
}

.btnEditar {
    border: none;
    float: right;
    padding: 3px;
    margin-right: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #fff;

}

.btnDelete{
    width: 20px;
    height: auto;
    border: none;
    float: right;
    padding: 3px;
    border-radius: 5px;

}
